<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>

    <form method="post" action="/user/signup">

        <label for=""> Enter Name:</label>
        <input type="name" name="name">

        <label for=""> Enter Email:</label>
        <input type="email" name="email">

        <label for=""> Enter Password:</label>
        <input type="password" name="password">

        <button type="submit">Send</button>

    </form>

</body>
</html>